/*General styles-start*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

}
/*General styles-end*/

/*Navigation-start*/

nav#main-nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
}
nav#main-nav > ul {
    margin: 0;
    float: right;
}
nav#main-nav > ul > li {
    display: inline-block;
    padding: 20px 40px;
    
}
nav#main-nav > ul > li > a {
    text-decoration: none;
    color: #1ac056; 
}

nav#main-nav > ul > li > a:hover {
    color: #291f1a;
}

/*Navigation-end*/

/*header-start*/

header#main-header {
    background-image: url("../img/header-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;
}
#main-header .main-header-content {
    text-align: center;
    padding: 30vh;
}
    
#main-header .main-header-content h1 {
    font-weight: 300;
    font-family: "Roboto" sans-serif;
    font-size: 3em;
}
#main-header .main-header-content h1 span{
    color: #1ac056;
} 

#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 300;
} 

/*header-end*/

/*O-mnie*/
#about {
    background-color: #f9fcfe;
    overflow: hidden;
    width: 100%;

}
#about > figure {
    width: 50%;
    margin: 0;
    float: left;
}

#about > figure > img {
    max-width: 350px;  
    margin: 100px;
    top: 0px;
    
}

#about > article > p {
    width: 50%;
    float: left;  
}


#about > h2 {
    text-align: center;
    font-weight: 400;
}
#about > h2 > span {
    color: #1ac056;
    font-weight: 700;
}

/*O-mnie*/



  
















































/*
font-family: "Lato" {
    color: #291f1a;
    font-weight: 300px;
}
#main-nav .menu {
    display: inline-block;
    width: 100px;
    height: 10%;
    background-color:#fff;
    
}
#main-nav .menu >a {
    color: #1ac056;
    font-weight: 300px;
    text-decoration: none;
    text-align: right;
 
}
#main-nav .menu >a:hover {
    color: black;
}
header#main-header > img {
    width: 100%;
  
}
header#main-header > h1#main-header-text {
    position: absolute;
    top: 65%;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    left: 30%;
    right: 30%;
    margin: 0 auto; 
}
    
header#main-header > h1#main-header-text > h2#druga {
    position: absolute;
    top: 65%;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    left: 30%;
    right: 30%;
    margin: 0 auto; 
}
    
*/
